


h1{
 font-family: merriweather;
color: #d1633c;
font-size: 2em;
}

body {
background-color: #faf2e4;
margin: 0 10%;
font-family: sans-serif;

}

h1 {
text-align: center;
text-transform: uppercase;
border-bottom: 3px solid #57b1dc;
margin-top: 20px;
margin-bottom: 50px;
}
h2 {
  font-family: merriweather;
color: #d1633c;
font-size: 1.5em;
text-align: center;
margin-top: 3em;
}

p {
font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
 width: 900px;         /* Sets the width of the box */
  border: 3px solid rgb(239, 202, 133); /* Adds a solid red border */
  padding: 35px;        /* Adds space between the text and the border */
  margin-left: 110px;         /* Adds space outside the border */
  background-color: #fffffe; /* Sets a light gray background color */
margin-top: 50px;

}


footer {
text-align: right;
  color: #ee8d6a;
  border-top: 3px solid #57b1dc;
  margin-top: 200px;

}

.container {
  display: flex;
  align-items: center; /* Vertically centers the text with the image */
  gap: 10px;           /* Adds space between the image and text */
}

/* --------------------------------------------------------------------*/
  .center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
margin-top: 1.5em;  /* Optional: Set a width to ensure margin: auto works as expected */
width: 250px ;
height: 330px ;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px 20px 20px 20px;
      border: 3px solid rgb(239, 202, 133); /* Adds a solid red border */

}

video {


    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px 20px 20px 20px;
      border: 3px solid rgb(239, 202, 133); /* Adds a solid red border */
 display: block;
  margin: 0 auto;
  max-width: 100%; /* Ensures responsiveness */
}

