


h1{
 font-family: merriweather;
color: #d1633c;
font-size: 2em;
}

body {
background-color: #faf2e4;
margin: 0 10%;
font-family: sans-serif;

}

h1 {
text-align: center;
text-transform: uppercase;
border-bottom: 3px solid #57b1dc;
margin-top: 20px;
margin-bottom: 50px;
}
h2 {
    border-top: 3px solid #57b1dc;
  font-family: merriweather;
color: #d1633c;
font-size: 1.5em;
}

p {
font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
}
/* ---------------------------------------------------------------------------------------*/



footer {
text-align: right;
  color: #ee8d6a;
  border-top: 3px solid #57b1dc;
  margin-top: 200px;

}

.container {
  display: flex;
  align-items: center; /* Vertically centers the text with the image */
  gap: 10px;           /* Adds space between the image and text */
}


 form div {
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input, select, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  textarea {
    height: 100px;
  }
  button {
    padding: 10px 20px;
    background-color: #ff147e;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
  }

  /* mobile stuff */

  @media screen and (min-width: 768px) {
  .container {
    display: flex; /* Switch from a single column to multiple columns */
  }
}