



h1{
 font-family: merriweather;
color: #d1633c;
font-size: 2em;
}

body {
background-color: #faf2e4;
margin: 0 10%;
font-family: sans-serif;

}

h1 {
text-align: center;
text-transform: uppercase;
border-bottom: 3px solid #57b1dc;
margin-top: 20px;
margin-bottom: 50px;
}
h2 {
    border-top: 3px solid #57b1dc;
  font-family: merriweather;
color: #d1633c;
font-size: 1.5em;
}

p {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 20px;
align-items: center;
 width: 720px;         /* Sets the width of the box */
  border: 5px solid rgb(239, 202, 133); /* Adds a solid red border */
  padding: 10px;        /* Adds space between the text and the border */
  background-color: #fffffe; /* Sets a light gray background color */
  display: block;
}
/* ---------------------------------------------------------------------------------------*/



footer {
text-align: right;
  color: #ee8d6a;
  border-top: 3px solid #57b1dc;
  margin-top: 200px;

}

.container {
  display: flex;
  align-items: center; /* Vertically centers the text with the image */
  gap: 10px;           /* Adds space between the image and text */
}



#gay1, #gay2, #gay3, #gay4, #gay5, #gay6, #gay7, #gay8 {
  width: 350px;
  
}
section{
  color: #631f07;
}


#gayy {
  width: 700px;
  display: block;
margin-left: auto;
  margin-right: auto;
}

/* -------_______________________________________________ */



@media (max-width: 600px) { /* roughly 768px */
  

  
  body, head, footer {
    display: grid;
    grid-template-columns: 1fr;
max-width: max-content;
    margin-left: 5px;
max-width: 100%;
text-align: center;
border-top: 0px;
 height: auto;    /* Maintain aspect ratio */
  display: block;
    word-wrap: break-word; /* Older browsers */
    overflow-wrap: break-word; /* Modern browsers */
}

footer {
  padding: 5px;
  display: flex; 
background-color: #ee8d6a;   height: auto;    /* Maintain aspect ratio */
  display: block;
      overflow-x:auto;
      color: #faf2e4;
  }

h1 {

  margin-left: 5px;
border-bottom: 0px;
}


p {
font-size: 15px;
 width: 220px;         /* Sets the width of the box */
  border: 5px solid rgb(239, 202, 133); /* Adds a solid red border */
  padding: 10px;        /* Adds space between the text and the border */
  background-color: #fffffe; /* Sets a light gray background color */
margin-top: 20px;
margin-left: 5px;
 height: auto;    /* Maintain aspect ratio */
  display: block;

}

.nav-desktop {
    display: none;
  
  }

.image-container img {
   width: 100%; /* Makes image fill the full column width */
    height: auto; /* Maintains original proportions */
    display: block; /* Removes unwanted bottom spacing */
  }

  img{
      max-width: 100%;
  height: auto;
  }
}
