{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html {
font-family:'Times New Roman', Times, serif ;
font-size: 18px;

}
#hero {
width: 100%;
height: 100vh;
background: linear-gradient(rgba(0, 0, 0, 0.481), rgba(0, 0, 0, 0.296)),
url(alien.png) no-repeat center / cover;
color: rgb(255, 255, 255);
}
.container {
width: 90%;
height: 100%;
max-width: 1190px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
}

.container .info h1 {
font-size: 3rem;
margin-bottom: 1rem;
}

.container .info h2 {
font-size: 1.5rem;
margin-bottom: 2rem;
}
.container .info p {
font-size: 1.2rem;
max-width: 60%;

}

.container .info a {
text-decoration: none;
display: inline-block;
background-color: rgb(195, 255, 182);
font-size: 1.8rem;
padding: 0.5em 2em;
margin-top: 2rem;
color: rgb(8, 138, 23);
}